annotated-types==0.7.0
anyio==4.4.0
contourpy==1.3.0
cycler==0.12.1
fastapi==0.113.0
fonttools==4.53.1
idna==3.8
joblib==1.4.2
kiwisolver==1.4.7
matplotlib==3.9.2
numpy==2.1.1
-e git+https://github.com/OlawoyeTaofeek/ml-project.git@912bc591d00e4d188bb70db53cc32595df5bdac0#egg=Oladipupo_ML_Project
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pydantic==2.9.0
pydantic_core==2.23.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
setuptools==72.1.0
six==1.16.0
sniffio==1.3.1
starlette==0.38.4
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.1
wheel==0.43.0
